/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Arial Narrow";
}

nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  padding: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 40em) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "Arial Narrow";
  }
}

.Coal {
  font-family: "Arial Narrow";
}

.Wind {
  font-family: "Arial Narrow";
}

.Electric {
  font-family: "Arial Narrow";
}
.card section {
  display: flex;
  flex-direction: column;
}
