/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  gap: 1rem;
}

header {
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  font-family: "Arial Narrow";
  font-weight: bold;
  font-size: large;
}

nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  padding: 1rem;
  background-color: black;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: black;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
}

.logo {
  width: 100%;
  display: inline-block;
}

nav li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

li a:hover {
  background-color: #e08f51;
}

.Coal {
  font-family: "Arial Narrow";
  color: White;
}

.Wind {
  font-family: "Arial Narrow";
  color: white;
}

.Electric {
  font-family: "Arial Narrow";
  color: white;
}
.card section {
  display: flex;
  flex-direction: column;
}

.Home page {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  resize: none;
  position: absolute;
  text-align: center;
  top: 18%;
  left: 45%;
  transform: translate (-50, -50%);
  color: white;
  font-size: 28px;
  font-weight: bolder;
  font-family: "Arial Narrow";
  backdrop-filter: blur(3px) brightness(60%);
  padding: 0.5rem;
  max-width: 55rem;
  margin: 0.6rem;
  border-radius: 0.7rem;
}

.header1 {
  resize: none;
  position: absolute;
  text-align: center;
  top: 12%;
  left: 45%;
  transform: translate (-50, -50%);
  color: black;
  font-size: 25px;
  font-weight: bolder;
  font-family: "Arial Narrow";
  backdrop-filter: blur(3px) brightness(60%);
  padding: 0.3rem;
  max-width: 55rem;
  margin: 0.3rem;
  border-radius: 0.3rem;
}

.header2 {
  resize: none;
  position: absolute;
  text-align: center;
  top: 12%;
  left: 45%;
  transform: translate (-50, -50%);
  color: black;
  font-size: 25px;
  font-weight: bolder;
  font-family: "Arial Narrow";
  backdrop-filter: blur(3px) brightness(60%);
  padding: 0.3rem;
  max-width: 55rem;
  margin: 0.3rem;
  border-radius: 0.3rem;
}

.header3 {
  resize: none;
  position: absolute;
  text-align: center;
  top: 12%;
  left: 45%;
  transform: translate (-50, -50%);
  color: black;
  font-size: 25px;
  font-weight: bolder;
  font-family: "Arial Narrow";
  backdrop-filter: blur(3px) brightness(60%);
  padding: 0.3rem;
  max-width: 55rem;
  margin: 0.3rem;
  border-radius: 0.3rem;
}
.logo {
  max-width: 10rem;
}
body {
  margin: 0;
  font-family: "Arial Narrow";
  color: white;
  font-weight: bold;
}

.grid {
  max-width: 100%;
  padding: 1rem;
}
.grid section {
  padding: 3rem;
  max-width: 600px;
}
@media (min-width: 40em) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.panel {
  padding: 0;
  background-color: white;
  display: none;
  overflow: hidden;
}

body {
  background-color: black;
}

footer {
  text-align: center;
  padding: 3x;
  background-color: black;
  color: white;
}

iframe {
  width: 100%;
}

h2 {
  background-color: black;
  color: #e08f51;
  padding: 50px;
}

.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: large;
}
.active,
.accordion:hover {
  background-color: #e08f51;
}

.panel {
  background-color: black;
  color: white;
  display: none;
  overflow: hidden;
  font-size: large;
}

h1 {
  text-align: center;
}

h3 {
  padding: 50px;
}

h4 {
  padding: 50px;
  font-size: 19px;
}

h5 {
  padding: 0.5rem;
  text-align: center;
  font-size: 19px;
  color: #e08f51;
}

.center {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 4px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 50%;
  padding: 4px;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

h6 {
  font-size: 19px;
  text-align: center;
  color: #e08f51;
  padding: 0.5rem;
}
